@media (max-width: 500px) {
  /* Первая секция */
  #First_Section {
    height: 47vw;
  }
  .bl01 {
    height: 20vw;
  }
  #nevezez1,
  #nevezez2 {
    height: 90%;
  }
  /* Вторая секция */
  #Second_Section {
    height: 160vw;
    position: relative;
  }
  .bl05 {
    height: 9vw;
  }
  #candy_star1,
  #candy_star2 {
    height: 9vw;
  }
  .bl11 {
    height: 9vw;
    margin-top: 150vw;
  }

  .bl08 {
    width: 100vw;
    height: 50vw;
    margin: 0 10vw 0 0vw;
  }
  .box {
    height: 70%;
    width: 20vw;
    margin: 0 0 0 8vw;
  }
  .box1 {
    height: 60%;
    width: 20vw;
    margin: 4vw 0 0 0;
  }
  .box2 {
    height: 60%;
    width: 20vw;
    margin: 4vw 0 0 16vw;
  }
  .bl0607 {
    position: absolute;
    flex-direction: column;
    margin-top: 40vw;
  }

  .bl07 {
    height: 21vw;
    width: 50vw;
    margin: 10vw 0 0 0vw;
    border: 1vw #97f2ff solid;
  }
  #snow1 {
    position: absolute;
    width: 35%;
    height: auto;
    margin-left: 5vw;
    top: -0.5vw;
  }
  #snow2 {
    position: absolute;
    width: 35%;
    height: auto;
    margin-left: 27vw;
  }
  .bl06 {
    height: 80vw;
    width: 50vw;
    border: 1vw #97f2ff solid;
    position: absolute;
    margin: 30vw 0 0 0vw;
  }

  #tree {
    width: 90%;
    margin: 2vw 0 0 2vw;
  }
  .bl09 {
    height: 20vw;
    width: 50vw;
    margin: 80vw 0 0 50vw;
    border: 1vw #97f2ff solid;
  }
  #snow3 {
    position: absolute;
    width: 35%;
    height: auto;
    margin-left: 5vw;
    top: -0.5vw;
  }
  #snow4 {
    position: absolute;
    width: 35%;
    height: auto;
    margin-left: 27vw;
  }
  .bl10 {
    height: 80vw;
    width: 50vw;
    position: absolute;
    border: 1vw #97f2ff solid;
    margin: 0vw 0 0 50vw;
  }
  #tree2 {
    width: 90%;
    margin: 5vw 0 0 2vw;
  }
  .bl0910 {
    margin: 50vw 0 0 0;
  }
  /* Третья секция */
  #Third_Section {
    position: relative;
    width: 100%;
    height: 130vw;
  }
  .bl1213 {
    flex-direction: row;
  }
  .bl12 {
    width: 50vw;
    height: 50vw;
    border: #fe572a 1vw solid;
  }
  .venok {
    width: 90%;
    margin: 2vw 0 0 3vw;
  }
  .bl13 {
    width: 50vw;
    height: 50vw;
    border: #dfff0d 1vw solid;
  }
  #dom {
    width: 80%;
    margin: 0 0 0 6vw;
  }
  .bl14 {
    width: 100%;
    height: 30vw;
    margin-top: 50vw;
    flex-direction: row;
  }
  #sani {
    width: 73%;
    margin: 2.5vw 0 0 2vw;
  }

  .bl1516 {
    flex-direction: row;
    margin: 80vw 0 0 0;
    flex-direction: column;
  }
  .bl15 {
    width: 50vw;
    height: 50vw;
    border: #dfff0d 1vw solid;
    margin: 0 0 0 0vw;
  }
  #sock {
    width: 80%;
    margin: 0 0 0 4vw;
  }
  .bl16 {
    width: 50vw;
    height: 50vw;
    border: #fe572a 1vw solid;
    margin: -50vw 0 0 50vw;
  }
  #list {
    width: 90%;
    margin: 5vw 0 0 3vw;
  }
  /* Четвёртая секция */
  #Forth_Section {
    height: 73vw;
  }
  .bl17 {
    height: 8vw;
  }
  .asemetry {
    margin-top: -5.5vw;
  }
  .bl35 {
    height: 8vw;
    margin-top: 65.3vw;
  }

  /* Пятая секция */
  #Fifth_Section {
    height: 130vw;
    flex-direction: column;
  }
  .bl3738 {
    flex-direction: row;
  }
  .bl37 {
    width: 50vw;
    height: 50vw;
    border: #fe572a solid 1vw;
  }
  #tree3,
  #tree4 {
    width: 70%;
    margin: 2vw 0 0 7vw;
  }
  .bl38 {
    width: 50vw;
    height: 50vw;
    margin: 0vw 0 0 50vw;
    border: #6053be solid 1vw;
  }
  #box {
    width: 70%;
    margin: 5vw 0 0 7.5vw;
  }
  .bl39 {
    flex-direction: column;
    width: 100%;
    height: 30vw;
    margin: 0vw 0 0 0;
    border: #daff02 solid 1vw;
  }
  #toys1,
  #toys2 {
    height: 100%;
    margin-top: -2vw;
  }
  .bl4041 {
    width: 100%;
    flex-direction: row;
    margin: 0 0 0 0vw;
  }
  .bl40 {
    width: 50vw;
    height: 50vw;
    margin: 80vw 0 0 0vw;
    border: #6053be solid 1vw;
  }
  #tree5,
  #tree6 {
    width: 70%;
    margin: 2vw 0 0 7vw;
  }
  .bl41 {
    width: 50vw;
    height: 50vw;
    margin-right: -40vw;
    margin: 80vw 0 0 50vw;
    border: #fe572a solid 1vw;
  }
  #box1 {
    width: 80%;
    margin: 5vw 0 0 5vw;
  }

  /* Шестая секция */
  #Six_Section {
    height: 60vw;
  }
  .bl42 {
    height: 10vw;
  }
  #line1,
  #line2 {
    height: 90%;
  }
  .bl43 {
    margin-top: 10vw;
  }
  #background {
    height: 50vw;
  }
  .bl44 {
    height: 10vw;
    margin-top: 50vw;
  }

  /* Седьмая секция */
  #Seven_Section {
    height: 41vw;
  }
  .bl47 {
    height: 20vw;
    margin-top: 8vw;
  }
  #name,
  #name1 {
    height: 65%;
  }
  .bl48 {
    height: 20vw;
    margin: 22vw 0 0 0;
  }
}
@media (max-width: 1440px) {
  .bl0910 {
    margin: 0 0 0 1.2vw;
  }
  .bl0607 {
    margin: -5.2vw 0 0 0;
  }
  .box {
    margin: 0 0 0 13vw;
  }
  .box1 {
    margin: 0 0 0 13vw;
  }
  .box2 {
    margin: 0 0 0 13vw;
  }
  .bl1516 {
    margin: 0 0 0 1.6vw;
  }
  .asemetry {
    margin: -5.5vw 0 0 0;
  }
  .bl35 {
    margin: 62.7vw 0 0 0;
  }
  .bl39 {
    width: 51vw;
    margin: 0 0 0 12.3vw;
  }
  .bl4041 {
    margin: 0 0 0 1.2vw;
  }
}
