<<<<<<< HEAD
/* спрайтовые анимации */
/* @keyframes marioWalk {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: -68px;
  }
  50% {
    background-position-x: -136px;
  }
  75% {
    background-position-x: -204px;
  }
}

@keyframes marioMove {
  0% {
    margin-left: -68px;
  }
  48% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  52% {
    transform: translateY(0px);
  }
  100% {
    margin-left: 100%;
  }
} */

@keyframes nevezez_animation1 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes nevezez_animation2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes running-animation1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes running-animation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes running-animation2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes running-animation3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes RobotMove {
  0% {
    transform: translateX(250%);
  }

  100% {
    transform: translateX(-250%);
  }
}

@keyframes scale {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes scale1 {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes jump1 {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.5vw);
  }
  60% {
    transform: translateY(0.5vw);
  }
}

@keyframes jump2 {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0.5vw);
  }
  60% {
    transform: translateY(-0.5vw);
  }
}

@keyframes venok {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes dom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sani {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes running-animation1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes running-animation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes snow2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes snow {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes door1 {
  0% {
    transform: rotateY(0);
    transform-origin: left;
  }
  50% {
    transform: rotateY(-80deg);
    transform-origin: left;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
  }
}

@keyframes arrow1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes arrow2 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes arrow3 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes arrow4 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-61%);
  }
}

@keyframes rotate-bg-color {
  0% {
    background-color: #231686;
  }
  25% {
    background-color: #fe572a;
  }
  50% {
    background-color: #685bc7;
  }
  75% {
    background-color: #daff02;
  }
  100% {
    background-color: #fe572a;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes logo {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes door2 {
  0% {
    transform: rotateY(0);
    transform-origin: right;
  }
  50% {
    transform: rotateY(-80deg);
    transform-origin: right;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(21.5vw);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes snow_rot {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes skew {
  0% {
    transform: skewX(0);
  }
  50% {
    transform: skewX(-25deg);
  }
}

@keyframes snow2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes snow {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes advent {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  55% {
    opacity: 5;
  }
  95% {
    opacity: 5;
  }
  100% {
    opacity: 5;
  }
}

@keyframes roboWalk {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: -6.9vw;
  }
  50% {
    background-position-x: -13.8vw;
  }
  75% {
    background-position-x: -20.7vw;
  }
}

@keyframes roboMove {
  0% {
    margin-left: 0;
  }
  3% {
    transform: translateY(0);
  }
  6% {
    transform: translateY(-130%);
  }
  13% {
    transform: translateY(0);
  }
  14% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-120%);
  }
  29% {
    transform: translateY(0);
  }
  31% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-130%);
  }
  45% {
    transform: translateY(0);
  }
  46% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-130%);
  }
  60% {
    transform: translateY(0);
  }
  61% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-130%);
  }
  74% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-130%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes animate {
  0% {
    transform: perspective(100vw) rotateX(0deg);
  }
  0% {
    transform: perspective(100vw) rotateX(359deg);
  }
}

@keyframes there_here {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(63vw);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes there_here1 {
  0% {
    transform: translateX(63vw);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(63vw);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
=======
/* спрайтовые анимации */
/* @keyframes marioWalk {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: -68px;
  }
  50% {
    background-position-x: -136px;
  }
  75% {
    background-position-x: -204px;
  }
}

@keyframes marioMove {
  0% {
    margin-left: -68px;
  }
  48% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  52% {
    transform: translateY(0px);
  }
  100% {
    margin-left: 100%;
  }
} */

@keyframes nevezez_animation1 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes nevezez_animation2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes running-animation1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes running-animation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes running-animation2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes running-animation3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes RobotMove {
  0% {
    transform: translateX(250%);
  }

  100% {
    transform: translateX(-250%);
  }
}

@keyframes scale {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes scale1 {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes jump1 {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.5vw);
  }
  60% {
    transform: translateY(0.5vw);
  }
}

@keyframes jump2 {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0.5vw);
  }
  60% {
    transform: translateY(-0.5vw);
  }
}

@keyframes venok {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes dom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sani {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes running-animation1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes running-animation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes snow2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes snow {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes door1 {
  0% {
    transform: rotateY(0);
    transform-origin: left;
  }
  50% {
    transform: rotateY(-80deg);
    transform-origin: left;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
  }
}

@keyframes arrow1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes arrow2 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes arrow3 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes arrow4 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-61%);
  }
}

@keyframes rotate-bg-color {
  0% {
    background-color: #231686;
  }
  25% {
    background-color: #fe572a;
  }
  50% {
    background-color: #685bc7;
  }
  75% {
    background-color: #daff02;
  }
  100% {
    background-color: #fe572a;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes logo {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes door2 {
  0% {
    transform: rotateY(0);
    transform-origin: right;
  }
  50% {
    transform: rotateY(-80deg);
    transform-origin: right;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(21.5vw);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes snow_rot {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes skew {
  0% {
    transform: skewX(0);
  }
  50% {
    transform: skewX(-25deg);
  }
}

@keyframes snow2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes snow {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes advent {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  55% {
    opacity: 5;
  }
  95% {
    opacity: 5;
  }
  100% {
    opacity: 5;
  }
}

@keyframes roboWalk {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: -6.9vw;
  }
  50% {
    background-position-x: -13.8vw;
  }
  75% {
    background-position-x: -20.7vw;
  }
}

@keyframes roboMove {
  0% {
    margin-left: 0;
  }
  3% {
    transform: translateY(0);
  }
  6% {
    transform: translateY(-130%);
  }
  13% {
    transform: translateY(0);
  }
  14% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-120%);
  }
  29% {
    transform: translateY(0);
  }
  31% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-130%);
  }
  45% {
    transform: translateY(0);
  }
  46% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-130%);
  }
  60% {
    transform: translateY(0);
  }
  61% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-130%);
  }
  74% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-130%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes animate {
  0% {
    transform: perspective(100vw) rotateX(0deg);
  }
  0% {
    transform: perspective(100vw) rotateX(359deg);
  }
}

@keyframes there_here {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(63vw);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes there_here1 {
  0% {
    transform: translateX(63vw);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(63vw);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
>>>>>>> 7c29837ccc7ae00ae20979afa342a124e39746d3
