* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 1440px;
  position: center;
  margin: 0 auto;
}

/* первая бегущая строка */
.First_Run_Line {
  width: 1440px;
  height: 55px;
  background-color: #daff02;
  text-align: center;
  display: flex;
  max-width: 3000px;
  overflow: hidden;
}
.First_item {
  flex-shrink: 0;
  line-height: 60px;
  font-weight: 500;
  font-size: 45px;
  color: #fe572a;
  text-transform: uppercase;
  font-family: "Defectica";
  animation: running-animation 5s linear infinite;
  white-space: nowrap;
}
@keyframes running-animation {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/* блок Невезец */
.Shadow_dance_container {
  display: flex;
  justify-content: center;
  width: 1000px;
  align-items: center;
  height: 500px;
  margin: 0 auto;
  background: #5447af;
  font-family: "HandWriting";
}
.Shadow_dance_text {
  font-size: 160px;
  margin-bottom: 5%;
  color: #fff;
  text-shadow: 10px 10px 0 #fe572a, 15px 15px 0 #daff02;
  animation: shadow-dance 2s infinite;
}
@keyframes shadow-dance {
  0%,
  100% {
    text-shadow: 10px 10px 0 #fe572a, 15px 15px 0 #daff02;
  }
  50% {
    text-shadow: -10px -10px 0 #daff02, -15px -15px 0 #fe572a;
  }
}
